.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(138, 136, 136));
}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(138, 136, 136));
}
p{
    text-align: center;
    color: white;
}